<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="OrderDetailsPath" value="D:\others\test environment\Server\Print Order Details"/>
		<add key="Filter" value="$_Copied.txt"/>
		<add key="PopUpNotification" value="True"/>
		<add key="AllowAppClosing" value="False"/>
		<add key="UpdateMsge" value="Print Completed.txt"/>
		<add key="CopyOnEnter" value="True"/>
		<add key="SearchType" value="1"/>
		<add key="TodayFolderPathLocal" value="D:\others\test environment\Album Print PC\TODAY"/>
		<add key="OrderFilesPath" value="D:\others\test environment\Server\Album Printt"/>
	
	</appSettings>
</configuration>